/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.phar
public/js/app.js
public/css/app.css.map
public/js/app.js
resources/assets/js/components/Resources.vue.orig
