@font-face {
    font-family: Simplifica;
    src: url(/fonts/SIMPLIFICA.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    height: 100%;
}
div{
	/*border: 1px solid black;*/
}
body{
	background: linear-gradient(to left, #009688, #4CAF50);
	background: linear-gradient(to right, #cfad6c, #af5b4c);
}

/* HEADER */
.header{
	position: fixed;
	width: 100%;
	right: 0;
	background-color: #333333;
	height: 50px;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	z-index: 10;
}

.headerTitle{
	width: 100px;
	height: 30px;

	margin: 0 auto;
	margin-top: 10px;
	
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 6px;
	color: #4FC08D;
	cursor: pointer;
	font-family: Simplifica;
	line-height: normal;
	text-align: center;
}

.headerActions{
	float: left;
	height: 100%;	
}

.headerActions a{
	color: white;
}

.globe{
	/*background-color: orange;*/
	height: 50px;
	position: absolute;
	top: 0;
	right: 65px;
	width: 50px;
	padding: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
}

.logout{
	/*background-color: orange;*/
	height: 50px;
	position: absolute;
	top: 0;
	right: 15px;
	width: 50px;
	padding: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 15px;

}
.dropdown{
	width: 30px;
	padding-left: 10px;
}
.logo{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
	overflow: hidden;
}

/* MENU */
.menu{
	position: fixed;
	left: 3px;
	top: 110px;
	width: 150px;
	height: 100vh;
	/*background-color: #313942;*/
	display: inline-block;
	z-index: 9;
}
.menuIcon{
	width: 100%;
	height: 150px;
	background-color: #009CDF;
	text-align: center;
	line-height: 150px;
	font-size: 30px;
}
.menu a{
	color: white;
	text-decoration: none; 
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 3px;
	transition: background .5s ease
}
.menu a:hover{
	background-color: rgba(55, 55, 55, 0.5);
}
.menu ul {
	list-style-type: none;
}
.menu ul li{
	height: 40px;
	width: 100%;
	line-height: 40px;
	margin: 10px;
}
.active{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 3px;
}
.active a{
	color: black;
}
.menu i{
	margin-right: 15px;
	margin-left: 15px;
}
.noti img{
	width: 25px;
}
.home img {
	width: 25px;	
}


/* SUB HEADER */
.subHeader{
	position: fixed;
	height: 60px;
	width: 100%;
	right: 0;
	top: 50px;
	z-index: 9;
	transition: all 1s;
}

.subActions{
	display: inline-block;
	float: right;
	cursor: pointer;
	padding: 5px 20px;
	margin-right: 20px;
	margin-top: 18px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	color: white;
}

.subActions a{
	color: white;
	text-decoration: none;
}
.down{
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
}

.down a{
	color: black;
}
.pad{
	margin-top: 6px !important;
}

.bg{
	background: linear-gradient(rgba(64, 64, 64, 0.8), rgba(124, 124, 124, 0));
}

.headerRoute{
	margin-top: 18px;
	padding-left: 175px;
	display: inline-block;
}
.headerRoute h2 {
	display: inline-block;
	font-size: 20px;
	line-height: 30px;
}
.headerRoute a {
	color: white;
}

/* CONTENT */
.content{
	float: right;
	width: calc(100% - 155px);
	/*background-color: #EFF3F6;*/
	margin-top: 90px;
	padding: 10px;
	/*min-height: calc(100% - 40px);*/
}

#add{
	width: 100%;
}

.mar{
	margin-top: 10px;
}

.alert {
	margin: 20px 25px 10px 25px;
}
.alert-danger{
	background-color: rgba(255, 255, 255, 0.65);
	border: none;
}