@font-face {
    font-family: AdamCG;
    src: url(/fonts/adam-cg-pro.regular.otf);
}

@font-face {
    font-family: Ethon;
    src: url(/fonts/EthRomainEthon.ttf);
}

@font-face {
    font-family: Simplifica;
    src: url(/fonts/SIMPLIFICA.ttf);
}

html,body,.home-container,.student,.teacher{
	height: 100%;
}
body{
	overflow-y: hidden ;
	overflow-x: hidden ;
	background-color: #f8f8f8;
	background-image: url('/img/background.jpg');
	background-size: cover; 
	background-repeat: no-repeat;
	font-family: Simplifica;
}

.student h1, .teacher h1{
	font-size: 7em;
	font-weight: bold;
	letter-spacing: 4px;
}

.student span, .teacher span{
	width: 100%;
	display: block;
    text-align: center;
	font-size: 3em;
    text-decoration: none;
}

.student, .teacher > div{
	display: block;
	clear: both;
	width: 100%;
}

.student, .teacher{
	color:#fff;
	transition: background-color 1s ease, color 1s ease;
}

.student {
	padding: 15px;
	float: left;
     background-color: rgba(53, 73, 94, 0.6); 
    /*background-color: rgba(51, 51, 51, 0.6);*/
    display: inline-block;
    width: 50%;
}
.teacher {
	padding: 15px;
	float: left;
    background-color: rgba(79, 192, 141, 0.6);
    /*background-color: rgba(106, 197, 169, 0.6);*/
    display: inline-block;
    width: 50%;
}
.student:hover{
	/*background-color: rgba(64,89,107,1);*/
	background-color: rgba(51, 51, 51, 1);
	/*color:#6AC5A9;*/
	color: #4FC08D;
}
.teacher:hover{
	background-color: rgba(79,192,141,1);
	/*background-color: rgba(106, 197, 169, 1);*/
	color:#333333;
}


.student h2{
	clear: both;
    float: right;
	font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.3em;
}

.student h1{
	float: right;
	
}

.teacher h2{
	float: left;
	font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.3em;
}

.teacher > div, .student > div {
	width:100%;
	padding-top:30px;
	clear: both;
    text-align: center;
} 

.teacher > div img, .student > div img{
	width: 35%;
}


@media (min-width: 700px) { 
	
	.student span, .teacher span{
		font-size: 5em;
	}

	.student h2{
		clear: both;
    	float: right;
    	font-weight: bold;
    	letter-spacing: 3px;
    	font-size: xx-large;
	}
	
	.teacher h2{
		float: left;
		font-weight: bold;
        letter-spacing: 3px;
		font-size: xx-large;
	}

	.student {
		padding: 15px;
		float: left;
	    background-color: rgba(53, 73, 94, 0.6);
	    display: inline-block;
	    width: 50%;
	}
	.teacher {
		padding: 15px;
		float: left;
	    background-color: rgba(79, 192, 141, 0.6);
	    display: inline-block;
	    width: 50%;
	}
}