html,body,.home-container,.student,.teacher{
	height: calc(100vh - 61.33px);
}

.student h1, .teacher h1{
	font-size: 75px;
	color:#fff;
}

.student a, .teacher a{
	width: 100%;
    text-align: center;
    margin-top: 25px;
	font-size: 36px;
    color: #fff;
    text-decoration: none;
}


.student {
	float: left;
	padding: 15px;
    background-color: #35495E;
    display: inline-block;
    width: 50%;
}

.student h2{
	clear: both;
    float: right;
    color: #fff;
}

.student h1{
	float: right;
}

.student a{
	float: left;
    clear: both;
}

.teacher {
	float: left;
	padding: 15px;
    background-color: #4fc08d;
    display: inline-block;
    width: 50%;
}

.teacher a{
	float: right;
    clear: both;
}

.teacher h2{
	float: left;
    color: #fff;
}

.teacher > div, .student > div {
	width:100%;
	padding-top:30px;
	clear: both;
    text-align: center;
} 

.teacher > div img, .student > div img{
	width: 35%;
}

.admin {
	background-color: #FB503B;
	padding-top: 11px;
	text-align: center;
	clear:both;

}

.admin h1{
	margin:0;
	color: #FFF;
	line-height: inherit;
	background-color: 
}