html,body,.home-container,.student,.teacher{
	height: 100vh;
}
body{
	background-image: url('/img/background.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	/*background-size:contain;*/
	background-position:center;
}

.student h1, .teacher h1{
	font-size: 75px;
	color:#fff;
}

.student span, .teacher span{
	width: 100%;
	display: block;
    text-align: center;
	font-size: 80px;
    color: #fff;
    text-decoration: none;
}

.student, .teacher > div{
	display: block;
	clear: both;
}

.student, .teacher{
	transition: background-color 1s ease;
}
.student {
	float: left;
	padding: 15px;
    background-color: rgba(53, 73, 94, 0.6);
    display: inline-block;
    width: 50%;
}
.teacher {
	float: left;
	padding: 15px;
    background-color: rgba(79, 192, 141, 0.6);
    display: inline-block;
    width: 50%;
}
.student:hover{
	background-color: rgba(64,89,107,1);
}
.teacher:hover{
	background-color: rgba(79,192,141,1);
}


.student h2{
	clear: both;
    float: right;
    color: #fff;
}

.student h1{
	float: right;
}

.teacher h2{
	float: left;
    color: #fff;
}

.teacher > div, .student > div {
	width:100%;
	padding-top:30px;
	clear: both;
    text-align: center;
} 

.teacher > div img, .student > div img{
	width: 35%;
}

.admin {
	background-color: #FB503B;
	padding-top: 11px;
	text-align: center;
	clear:both;

}

.admin h1{
	margin:0;
	color: #FFF;
	line-height: inherit;
	background-color: 
}