.resource-extras {
  /*float: left;*/
    padding: 15px;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.resource-extras:nth-of-type(3), .resource-extras:nth-of-type(4){
  margin-top: 15px;
}

.resource-extras:nth-of-type(3) span, .resource-extras:nth-of-type(4) span{
  font-weight: bold;
}

/*First Column ** resource ** */
.resource-body {
  word-wrap: break-word;
}

.resource-body h1{
  /*padding:  10px;
  background: #4FC08D;*/
  color: #FFF;
  font-weight: bold;
}

.resource-title-sub{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.img-resource {
    padding: 30px 0;
}

.img-resource img{
  width: 500px;
}


.videos-list-resource iframe{
  margin: 30px 0;
}

.resource-body .resource-title-sub h3{
  color: #FFF;
}

.socialMedia i{
  padding-top: 20px;
  padding-bottom:  20px;
 /*margin-left: 17%;*/
  color: #333333;
}

.socialMedia i:hover{
    color: #4FC08D;
    transition: color .5s ease-in-out;
}

.links{
  color: #636b6f;
}

.links:hover{
    color: #4FC08D;
    text-decoration: none;
    transition: color .5s ease-in-out;
}

.resource-extras-tag p {
  display: inline-block;
}

.resource-extras-tag span:first-child {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.links-extra-tags span{
  display: block;
}

.tag-rounded-resource {
    border: 1px solid #dee2e5;
    background-color: #dee2e5;
    margin-bottom: 5px;
    border-radius: 25px;
    padding: 0px 12px;
    color: #a9b1b5;
    margin-right: 5px;
    transition: all 300ms ease-in-out;
}

.tag-rounded-resource:hover {
    color: #fff;
    background-color: #4FC08D;
}

.banners {
  float: left;
  width: 100%;
  height: 200px;
  background: #636b6f;
}

.resource-img-resum{
  width: 100%;
  height: 393px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/*Autor -- Inicio*/
.autor div {
  display: inline-block;
}
.autor h5{
  text-transform: capitalize;
}
.publish-date{
  text-transform: initial;
}
.autor p {
  float: right;
}
/*Autor -- Fin*/

#map {
  height:350px; 
  width:500px;
}

/*.resource-extras a, p {
  padding-left: 10px;
}*/

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .resource-extras p {

  }
  .socialMedia i{
    margin-left: 17%;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .resource-extras p {
    width: 45.5%;
  }
  .socialMedia i{
    margin-left: 17%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .resource-extras p {
    width: 96%;
  }
  .socialMedia i{
    margin-left: 12%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .resource-extras p {
  }
  .socialMedia i{
    margin-left: 19%;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .resource-body .resource-title-sub h1{
    font-size: 20px;
  }

  .resource-body .resource-title-sub h3{
    font-size: 14px;
  }

  .socialMedia i{
    margin-left: 17%;
  }
}

.extras p{
  width: 96%;
}

@import url("font-awesome.css");